.top{
    text-align: center;
}

.recipe{
    display: inline-block;
    border: 2px solid black;
    width: 300px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    

}

.recipe:hover{
    border-color: blue;
}

.description{
    padding: 10px;
    text-align: center;
    font-size: 25px;

}

h1{
    font-size: 60px;
    background-color: aliceblue;
    padding: 30px;
    margin: 0%;
}

body{
    margin: 0;
    background-color: 	#f5fffa;
}

.picture{
    
  
    padding: 0;
    margin: 0%;
   display: inline-flex;
  
 
 
  
}

.word h2, .word p{
    text-align: center;
    color: white;
    position: relative;
    bottom: 320px;
    
    
}

.word h2{
    
    font-size: 60px;
   
}

.word p{
    font-size: 25px;
}

.banner h2{
    margin-top: 0;
    padding: 20px;
    text-align: center;
    font-size: 60px;
    
    background-color:#afeeee;
    
}

.information p{
    font-size: 30px;
    color: black;
    text-align: center;
    position: relative;
    bottom: 90px;
}

.menu{
    
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
 
}

#aboutme{
    padding-top: 10px;
    text-align: center;
    background-color:#e6e6fa;
}

.responsive {
    width: 100%;
    max-width:650px;
    height: 400px;
  }

  @media only screen and (max-width: 650px){
  .one{
    display: none
  }
  .information p{
      font-size: 20px;
  }
  .word h2, .word p{
      color: ghostwhite;
  }

  h1, .banner h2{
      font-size: 50px;
  }

}
    
    
    
